Package: com.github.albe-rosado.hujing-dbgsym
Package-Type: ddeb
Source: com.github.albe-rosado.hujing
Version: 0.1.23
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alberto Rosado <alberosado7@github.com>
Installed-Size: 77
Depends: com.github.albe-rosado.hujing (= 0.1.23)
Section: debug
Priority: extra
Description: Debug symbols for com.github.albe-rosado.hujing
Build-Ids: f0dac607819fa0b143415db1fc1c59f02a596fb3
