[Desktop Entry]
Name=Hujing
Exec=com.github.albe-rosado.hujing
Icon=com.github.albe-rosado.hujing
Comment=Install flatpak files
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;
